@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body,main{
    width: 100%;
    height: 100%;
}
:root{
    --Cyan: hsl(179, 62%, 43%);
    --BrightYellow: hsl(71, 73%, 54%);
    --LightGray: hsl(204, 43%, 93%);
    --GrayishBlue: hsl(218, 22%, 67%);
}
body{
    background-color: var(--LightGray);
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo{
    height: 724px;
    width: 310px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.contenedor1{
    width: 100%;
    height: 269px;
    background-color: white;
    padding: 30px 25px;
    font-family: 'Karla', sans-serif;
}
.contenedor1_tittle{
    font-size: 20px;
    color: var(--Cyan);
}
.contenedor1_text1{
    padding-top: 30px;
    font-size: 16px;
    color: var(--BrightYellow);
    font-weight: 400;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}
.contenedor1_text2{
    padding-top: 22px;
    font-size: 13px;
    color: var(--GrayishBlue);
    line-height: 27px;
    font-family: 'Karla', sans-serif;
}

.contenedor2{
    width: 100%;
    height: 228px;
    padding: 30px 25px;
    background-color: var(--Cyan);
    font-family: 'Karla', sans-serif;
}
.contenedor2_tittle{
    color: white;
    font-size: 17px;
    font-weight: 700;
}
.text{
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.dinero{
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.mes{
    color: hsla(203, 44%, 93%, 0.596);
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}
.acceso{
    color: white;
    font-size: 15px;
    padding-bottom: 28px;
    font-weight: 200;
}
button{
    background-color: var(--BrightYellow);
    height: 50px;
    width: 260px;
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 700;
}

.contenedor3{
    width: 100%;
    height: 227px;
    padding: 30px 25px;
    background-color: hsl(179, 58%, 59%);
    font-family: 'Karla', sans-serif;
}
.contenedor3_tittle{
    color: white;
    padding-bottom: 22px;
    font-size: 17px;
}
.text3,p{
    color: hsla(203, 44%, 93%, 0.863);
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 4px;
}

@media (min-width:1440px){
    .todo{
        height: 480px;
        width: 636px;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr;
    }
    .contenedor1{
        grid-column: 1/3;
        height: 219px;
        padding: 46px 38px;
    }
    .contenedor2{
        height: 260px;
        padding: 42px 40px;
    }
    .contenedor3{
        height: 260px;
        padding: 42px 38px;
    }
    .contenedor1_text2{
        font-size: 14px;
        padding-right: 80px;
    }
    .acceso{
        padding-bottom: 32px;
    }
    .text{
        padding-top: 21px;
        padding-bottom: 17px;
    }
    button{
        width: 237px;
    }
}

.attribution{
    font-size: 11px; 
    text-align: center; 
}
.attribution a{
    color: hsl(228, 45%, 44%);
}